.big-socials{
    background-image: linear-gradient(159deg, rgb(249, 211, 245),rgb(203, 68, 158));
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3.6rem 0;
}

.tooltip-section{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.tooltip-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    margin:.9rem;
    border-radius: 50%;
    position: relative;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;

}
.tooltip-text{
    background-color: rgb(255, 255, 255);
    padding: 1rem ;
    border-radius: 50%;
    position: relative;
    display: flex;
    font-size: 1.6rem;
}
.tooltip{
    padding: .8rem;
    visibility: hidden;
    opacity: 0;
    font-size: 1rem;
    text-align: center;
    position: absolute;
    border-radius: 60%;
    transform: translateX(-50%);
    bottom: 100%;
    left: 50%;
    transition: opacity 0.3s ease;

}
.tooltip-item:hover .tooltip{
    
    visibility: visible;
    opacity: 1;
}


.tooltip1{background-color: rgb(71, 119, 251);
    color: #ffffff;

}

.tooltip2{
    background-color: rgb(237, 17, 105);
    color: #ffffff;

}

.tooltip3{
    background-color: rgb(136, 219, 240);
    color: #ffffff;

}

.tooltip4{
    background-color: rgb(59, 60, 62);
    color: #ffffff;

}
.tooltip5{
    background-color: rgb(34, 49, 183);
    color: #ffffff;

}