

*{
    margin: 0;
    box-sizing: border-box;
}

nav{
    display: flex;
    background-color: pink;
    padding: 10px 20px;
    overflow: hidden;
    align-self: center;
    justify-content: space-between;
}

ul{
    display: flex;
    list-style: none;
}

.links{
    text-decoration: none;
    color: black;
    padding: 0 10px;
}

.log{
    /*float: right;
    */background-color: black;
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
}

.lists{
    padding: 0 5px;
}

.img{
    width: 100%;
    max-width: 300px;
    display: block;
}

.pics{
    width: 100%;
    max-width: 300px;
    overflow: hidden;
    position: relative;
    margin: 10px auto;
}

.picture{
    width: 100%;
    flex-shrink: 0;
}

.images{
    display: flex;
    width: 300%;
    animation: films 9s infinite;
    -webkit-animation: films 9s infinite;
}

@keyframes films{
    0% { transform: translateX(0%); }
    33% { transform: translateX(0%); }
    38% { transform: translateX(-100%); }
    71% { transform: translateX(-100%); }
    76% { transform: translateX(-200%); }
    100% { transform: translateX(-200%); }
}
button{
    position: absolute;
    top: 50%;
    transform: translateY(-50%) ;
    background-color: rgba(14, 14, 14, 0.8);
    border: none;
    cursor: pointer;
    padding: 10px;
}

.prev{
    left: -10px;
    
}
.next{
    right: -10px ;

}
.dots{
    text-align: center;
    padding: 10px;
}

.dot{
    height: 8px;
    width: 8px;
    margin: 0 20 px;
    background-color: #bbb;
    border-radius: 50%;
    display:  inline-block;
    cursor: pointer;
}

.dot.active{
    background: #717171;
}
.caption{
    background-color: rgb(41, 40, 40);
    padding: 10px;
    text-align: center;
    
}